<form class="form-group mt-1">
    <div class="input-group">
        <input type="search" class="form-control" name="key" placeholder="Type here" />
    </div>
    <div class="input-group mt-1">
        <button type="submit" class="btn btn-primary btn-block"> Search </button>
    </div>
</form>